<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<link rel="icon" href="img/weather.png">
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		{{>header}}
		<div class="main-content">
			<h2>About Page (partial)</h2>
			<img class="portrait" src="img/andrew.png">
			<p>{{name}}</p>
		</div>
		{{>footer}}
	</body>
</html>